/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/12/2024, 12:31:58 AM
    Author     : DELL CI7
*/


:root{
    --green:#155f36;
    --verdeUi:#009D00;
    --azul:#2980F2;
    --azulopaco:#1138b0;
    --Azul1:#5178f1;
    --Azul3:#8aa5f4;
    --Azul4:#c5d3fa;
    --Azul2:#5178f1;
    --blanco:white;
    --negro:black;
    --rosadoUi:#BA1D48;
    --verdetrans:#257448;
    --grisFrio:#A2ABC5;
    --blanco_semiverde:#e7f0ed;
    --verde_oscuro:#001e12;    
    --verde_text1:#87b3a5;
    --verde_tex2:#4a8c78;
}

body{
    
   background-color: var(--azulopaco);
    font-family:sans-serif;
    height:auto;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
form{
    display:flex;
    flex-direction:column;
    padding:5%;
    height: auto;
    border:1px solid var(--blanco);
    color:var(--blanco);
}
.content{
    background-color: var(--blanco);
    width: auto;
    display:flex;
    flex-direction:column;
   /* padding: 1.5%;*/
    color: var(--azulopaco);
    height: auto;
}
.content img{
    width: 15%;
    height: 10vh;
}
.ctn_inpts{
    display: flex;
    flex-direction: row;
    gap:5%;
    width: auto;
    padding: 1%;
}
.content input{
    margin:1%;
    width: 100%;
    height:50px;
    font-size:larger;
    border-radius: 0;
    border: 0;
    background-color: var(--Azul4);
}

.content button{
    margin:1%;
    height:50px;
    background-color:var(--azulopaco);
    color:var(--blanco);
    font-size:larger;
    border:none;
}
.content button:hover{
    background-color:var(--blanco);
    color:var(--azul);
    border:1px solid var(--azul);
}
.response {
    height:auto;
    padding: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
    justify-content: center;
    transition: background-color 0.5s ease-in,
        height 0.5s ease-in;
    background-color:var(--azulopaco);
}
.response img{
    width: 10%;
    height: 40%;
}
.Error{
    background-color:red;
    height:20vh;
}
.result{
     height: 20vh;
     background-color: var(--green);
}
.loading{
    background-color: var(--blanco_semiverde);
    color: var(--negro);
}
