<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>srvLogin</servlet-name>
        <servlet-class>Controlador.srvLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvLista_Planilla</servlet-name>
        <servlet-class>Controlador.srvPlanilla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvListPlanilla</servlet-name>
        <servlet-class>Controlador.SrvListPlanilla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Load_Data_User</servlet-name>
        <servlet-class>Controlador.Load_Data_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvBusqueda_Planilla</servlet-name>
        <servlet-class>Controlador.SrvBusqueda_Planilla</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srvLogin</servlet-name>
        <url-pattern>/srvLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvLista_Planilla</servlet-name>
        <url-pattern>/SrvLista_Planilla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvListPlanilla</servlet-name>
        <url-pattern>/SrvListPlanilla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Load_Data_User</servlet-name>
        <url-pattern>/Load_Data_User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvBusqueda_Planilla</servlet-name>
        <url-pattern>/SrvBusqueda_Planilla</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
